@import url(//fonts.googleapis.com/css?family=Work+Sans:400,700);

@font-face {
  font-family: 'StateFaceRegular';
  src: url('./assets/fonts/stateface-regular-webfont.eot');
  src: url('./assets/fonts/stateface-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/stateface-regular-webfont.woff') format('woff'),
    url('./assets/fonts/stateface-regular-webfont.ttf') format('truetype'),
    url('./assets/fonts/stateface-regular-webfont.svg#StateFaceRegular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fff;
  --auto: #f9d054;
  --truck: #f57b56;
  --ped-bike: #abc549;
  --other: #85a05f;
  --dark: #0c0c0c;
  --medium: #6d6c6c;
  --medium-light: #888;
  --light: #b8b5b5;
  --extra-light: #e8e7e7;
  --us-color: #0d4eb1;
  --state-color: #f9aa33;
  --dropdown-primary: rgba(2, 163, 223, 1);
  --dropdown-highlight: rgba(2, 163, 223, 0.25);
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Work Sans;
  color: var(--dark);
}

h2,
h3 {
  font-family: Work Sans;
}

#root {
  display: flex;
  align-items: center;
}

.instructions {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0;
}

.subtitle {
  color: var(--medium);
}

.small-text {
  font-size: 12.8px;
  color: var(--medium);
}

.letter-spacing {
  letter-spacing: 1px;
}

.app-wrapper {
  height: 650px;
  width: 1100px;
  padding: 35px 50px;
  display: flex;
}
.col-left {
  width: 55%;
  padding-right: 50px;
}
.col-right {
  width: 45%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-wrapper {
  /* subtract Header */
  height: calc(100% - 160px);
}

.map-wrapper {
  height: 53%;
}

.stats-wrapper {
  height: 37.5%;
}

/* US and State LABELS in Chart & Stats titles */

.title-labels {
  display: flex;
  justify-content: space-between;
}

.title-labels h3 {
  margin-top: 0;
  display: inline-block;
  border-bottom: 4px solid var(--background);
}

.chart-wrapper .title-labels h3 {
  margin: 0 20px 0 0;
}

.stats-wrapper .title-labels h3 {
  margin-bottom: 15px;
}

/* to indicate clickability in Stats */
.stats-wrapper .title-labels h3:hover {
  cursor: pointer;
}
/* to indicate US label not clickable when no selectedState */
.stats-wrapper .title-labels h3.no-pointer {
  cursor: text;
}

.title-labels h3:first-child {
  color: var(--us-color);
}

.title-labels h3:last-child {
  color: var(--state-color);
}

.title-labels h3:first-child.label-selected-us {
  border-bottom: 4px solid var(--us-color);
}

.title-labels h3:last-child.label-selected-state {
  border-bottom: 4px solid var(--state-color);
}

.stats-wrapper .title-labels h3:last-child:hover {
  opacity: 1;
}
.stats-wrapper .title-labels h3:first-child:hover {
  opacity: 1;
}

.inactive-label {
  transition: opacity 0.25s;
  opacity: 0.5;
}

/* to indicate clickability in Stats */
.stats-wrapper .inactive-label:hover {
  opacity: 1;
}

/* HEADER */

.header-wrapper {
  height: 160px;
}

.header-title-group {
  position: relative;
  bottom: 15px;
}

.header-title-logo {
  display: flex;
  align-items: baseline;
  font-weight: bold;
}

.header-title {
  font-size: 3rem;
  color: var(--medium-light);
  margin: 0 0 0 1px;
}

.header-year {
  color: var(--light);
  font-size: 2.35rem;
  padding-left: 4px;
}

.header-subtitle {
  margin: 0;
  font-size: 1.49rem;
}

.header-desc a {
  color: var(--medium-light);
}

.header-desc p:first-child {
  font-size: 15.2px;
  line-height: 1.2rem;
  margin-top: 7px;
  margin-bottom: 4px;
}
.header-desc p:nth-child(2) {
  margin: 0 0 6px 0;
}

/* MAP */

.map-wrapper h2 {
  margin: 0 0 10px 0;
}

.map-wrapper p.instructions {
  margin-bottom: 16px;
}

.map-content {
  position: relative;
}

svg#us-map:hover {
  cursor: pointer;
}

path.border {
  stroke: var(--background);
  stroke-width: 1px;
}

path.selected-state {
  fill: var(--state-color);
}

#state-tooltip rect {
  stroke: var(--medium);
  stroke-width: 0.5;
  fill: var(--background);
}

#state-tooltip text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: var(--dark);
}

#zoom-area {
  position: absolute;
  top: 0;
  right: 0;
  fill: none;
}

/* added/removed from #zoom-area */
.zoomed-out {
  stroke: var(--light);
  stroke-width: 1.5px;
  opacity: 0.5;
}

/* magnifying glass icons: addl styling inline */
#zoom-control {
  width: 25px;
  height: 25px;
  fill: var(--light);
}

#zoom-control svg:hover {
  cursor: pointer;
  fill: var(--medium-light);
}

.legend {
  display: flex;
  flex-direction: row;
}

.legend-map {
  width: 90%;
  margin: 5px 0 0 30px;
}

.legend-map p {
  margin: 10px;
}

.legend-map p:first-child {
  margin-left: 0;
}

#legend-bar {
  align-self: center;
  width: 50%;
  height: 20px;
  background: rgba(0, 212, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
}

/* CHART */

.chart-wrapper h2 {
  margin-top: 29.92px;
}

#show-us-line-toggle {
  display: flex;
  align-items: center;
  height: 42px;
  color: var(--dark);
}

#show-us-line-toggle svg {
  width: 20px;
  height: 20px;
  fill: var(--medium);
  margin: 6px 8px 0 0;
}

#show-us-line-toggle svg:hover {
  fill: var(--dark);
}

#show-us-line-toggle p {
  margin-bottom: 8px;
}

.x-axis text {
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--medium);
}

.y-axis text {
  font-size: 10.5px;
  letter-spacing: 0.5px;
  color: var(--medium);
}

g.tick > line {
  stroke-width: 2px;
  stroke-dasharray: 2 8;
  color: var(--medium-light);
}

.y-axis g.tick > line {
  stroke: none;
}

/* axes lines */
path.domain {
  stroke-width: 1.5px;
  color: var(--medium);
}

path.us-line {
  fill: none;
  stroke: var(--us-color);
  stroke-width: 3;
}

g.us-year circle {
  fill: var(--us-color);
}

/* tooltip */
g.us-year rect {
  fill: var(--us-color);
  opacity: 0;
  transition: opacity 0.25s;
}

g.us-year text,
g.state-year text {
  text-anchor: middle;
  fill: var(--background);
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.25s;
}
/* */

path.state-line {
  fill: none;
  stroke: var(--state-color);
  stroke-width: 3;
}

g.state-year circle {
  fill: var(--state-color);
}

/* tooltip */
g.state-year rect {
  fill: var(--state-color);
  opacity: 0;
  transition: opacity 0.25s;
}

g.us-year:hover rect,
g.us-year:hover text,
g.state-year:hover rect,
g.state-year:hover text {
  opacity: 1;
}
/* */

/* STATS */

.stats-content {
  display: flex;
}

/* .stats-content subsection widths defined in Stats.js */

.stats-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats-text div > p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--medium-light);
}

.stats-text div p:first-child {
  margin-top: 12px;
  margin-bottom: 2px;
  color: var(--dark);
}

.stats-text div p:last-child {
  margin: 0;
}

span#footnote {
  font-weight: normal;
}

#pie-tooltip rect {
  fill: var(--medium);
}
#pie-tooltip text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: var(--background);
}

.stats-pie-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.stats-pie-legend-title {
  font-weight: bold;
  margin-top: 0;
  color: var(--dark);
}

.stats-pie-legend-text {
  font-size: 0.8rem;
  color: var(--dark);
}

.stats-pie-legend span:not(.sm-sp) {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

div.auto span {
  background-color: var(--auto);
}

div.truck span {
  background-color: var(--truck);
}

div.ped-bike span:not(.sm-sp) {
  background-color: var(--ped-bike);
}

div.other span {
  background-color: var(--other);
}

/* react-select dropdown component */

.css-1pahdxg-control {
  border-color: var(--dropdown-primary) !important;
  box-shadow: 0 0 0 1px var(--dropdown-primary) !important;
}

.css-1pahdxg-control:hover {
  border-color: var(--dropdown-primary) !important;
}

.css-9gakcf-option {
  background-color: var(--dropdown-primary) !important;
}

.css-1n7v3ny-option {
  background-color: var(--dropdown-highlight) !important;
}

.css-26l3qy-menu > div:first-child {
  max-height: 160px !important;
}

@media only screen and (max-width: 1109px) {
  .app-wrapper {
    flex-direction: column;
    height: 100vh;
    width: 454.5px;
    padding: 20px;
  }

  .header-wrapper,
  .chart-wrapper,
  .map-wrapper {
    height: auto;
  }

  .stats-wrapper {
    height: 242.77px;
    padding-bottom: 120px;
  }

  .header-wrapper {
    margin-bottom: 60px;
    padding-top: 50px;
  }

  .map-wrapper {
    margin-bottom: 60px;
  }

  .chart-wrapper {
    padding-bottom: 70px;
  }

  .chart-wrapper h2 {
    margin-top: 0;
  }

  .header-desc p:first-child {
    font-size: 16.16px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 470px) {
  .app-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .rotate-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-title-logo p {
    font-size: 44px;
  }

  .header-title {
    margin-bottom: 10px;
  }

  .rotate-icon {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--extra-light);
  }

  .rotate-icon svg {
    fill: var(--medium);
  }
}
