:root {
  --primary-color: #005e95;
  --background: #fff;
  --gray: #808080;
  --dark-color: #000;
}

* {
  border: 1px solid red;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.app-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
}
.col-left {
  width: 60%;
}
.col-right {
  width: 40%;
}

.chart-wrapper {
  height: calc(100vh - 160px);
}

.chart-wrapper,
.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-wrapper {
  height: 60%;
}

.stats-wrapper {
  height: 40%;
}

/* HEADER */

.header-wrapper {
  height: 160px;
}

.header-logo {
  display: flex;
}

.header-name {
  text-transform: uppercase;
}

/* MAP */

#us-map path {
  stroke: var(--background);
  stroke-width: 1px;
}

#state-tooltip rect {
  stroke: var(--gray);
  stroke-width: 0.5;
  fill: var(--background);
}
#state-tooltip text {
  color: var(--dark-color);
  text-anchor: middle;
  dominant-baseline: middle;
}

#legend {
  width: 50%;
  height: 20px;
  background: rgba(0, 212, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
}

/* CHART */

path.us-line {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 4;
}

g.us-year circle {
  fill: var(--primary-color);
}

g.us-year rect {
  fill: var(--primary-color);
  opacity: 0;
  transition: opacity 0.25s;
}

g.us-year text {
  text-anchor: middle;
  fill: var(--background);
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.25s;
}

g.us-year:hover rect,
g.us-year:hover text {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .app-wrapper {
    flex-flow: column nowrap;
    height: auto;
  }

  .header-wrapper,
  .chart-wrapper,
  .map-wrapper,
  .stats-wrapper {
    width: 100%;
  }

  .chart-wrapper,
  .map-wrapper {
    height: auto;
  }
}
